* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: right;
    column-gap: 15px;
}

/* landing page */

.hero {
    display: flex;
    justify-content: center;
}

.game-left-position, .game-right-position {
    display: flex;
}

.game-right-position {
    flex-direction: row-reverse;
}

img {
    width: 200px;
    height: 200px;
}