* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: right;
}

.games-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}