* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 50px;
}

header {
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#game-start {
    display: flex;
    flex-direction: column;   
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}