* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 50px;
}

header {
    margin-bottom: 30px;
}

nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

input {
    width: 70%;
}

#game-end {
    display: flex;
    flex-direction: column;
}